{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>All Tours</h2>
<h4></h4>
{%for i in range(0, len)%} 
    <hr>
    <li>Tour Id: {{ tours[i]['tourid'] }}</li> 
    <li>Name: {{ tours[i]['name'] }}</li>
    <li>Description : {{ tours[i]['desc'] }}</li> 
    <li>Total Tour Length: {{ tours[i]['totaltime'] }}</li> 
    <form action="{{ url_for('individualTours') }}" method="post" autocomplete="off">
        <input hidden name="tourid" value="{{ tours[i]['tourid'] }}">
        <input type="submit" value="View Tour">
    </form>
    <br>
{%endfor%} 

{% endblock %}