{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>Add Location to a Tour</h2>
<h4></h4>
<form method="POST" action="{{ url_for('alterTourAdd') }}">
    <input type="submit" value="Add to Tour">
    <input type="text" name="tourid" placeholder="ID of Tour to add to" required>
{%for i in range(0, len)%} 
    <hr>
        <li><input type ="checkbox" value="{{ locations[i]['id'] }}" name="newtour"></li>
        <li>Location Id: {{ locations[i]['id'] }}</li>
        <li>Name: {{ locations[i]['name'] }}</li>
        <li>Location Description: {{ locations[i]['desc'] }}</li> 
        <li>GPS Cords: {{ locations[i]['gpscords'] }}</li> 
        <li>Time spent at Location {{ locations[i]['time'] }}</li>
{%endfor%} 
</form>

{% endblock %}