{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>All Locations</h2>
<h4>fix desc edit</h4>
{%for i in range(0, len)%} 
    <hr>
    <form action="{{ url_for('test') }}" method="post">
        <li>Location Id: {{ locations[i]['id'] }}</li> <input type ="text" name="locationid" value="{{ locations[i]['id'] }}" readonly>
        <li>Name: {{ locations[i]['name'] }}</li> <input type ="text" name="name" value="{{ locations[i]['name'] }}">
        <li>Location Description: {{ locations[i]['desc'] }}</li> <input type ="text" name="desc" value="{{ locations[i]['desc'] }}">
        <li>GPS Cords: {{ locations[i]['gpscords'] }}</li> <input type ="text" name="gpscords" value="{{ locations[i]['gpscords'] }}">
        <li>Time spent at Location {{ locations[i]['time'] }}</li> <input type ="number" name="time" value="{{ locations[i]['time'] }}">
        <input type="submit" value="Edit location">
    </form>
    <form action="{{ url_for('adminDelLocation') }}" method="post">
        <input type ="text" name="locationid" value="{{ locations[i]['id'] }}" hidden>
        <input type="submit" value="Delete location">
    </form>

{%endfor%} 

{% endblock %}