{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-3"></div>
<h2 class="display-3 my-3 text-center" >All Tours</h2>
<h4></h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Tour Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Total Tour Length</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
{%for i in range(0, len)%} 
<tbody>
    <tr>
    <th scope="row"> {{ tours[i]['tourid'] }}</th>
    <td>{{ tours[i]['name'] }}</td>
    <td>{{ tours[i]['desc'] }}</td>
    <td>{{ tours[i]['totaltime'] }}</td>
    <td>
    <form action="{{ url_for('individualTours') }}" method="post" autocomplete="off">
        <input hidden name="tourid" value="{{ tours[i]['tourid'] }}">
        <button class="btn btn-primary" type="submit" value="View Tour">View Tour</button>
    </form>
</td>
</tr>
</tbody>
{%endfor%} 
</table>
</div>

{% endblock %}

