{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>Create a Location</h2>
<form action="{{ url_for('newlocation') }}" method="post">
    <input type="text" name="name" placeholder="Name of Location" id="name" required>
    <input type="text" name="desc" placeholder="Description of the location" id="desc" required>
    <input type="text" name="gps" placeholder="Google GPS Cords" id="gps" required>
    <input type="text" name="time" placeholder="Time at location" id="accountType" required>
    <input type="submit" value="Create location">
</form>

{% endblock %}