{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2 class="display-3 mt-3 text-center" >All Locations</h2>
{%for i in range(0, len)%} 

<hr>
 <div class="card" >
    <div class="card-body">
    <form action="{{ url_for('adminEditLocation') }}" method="post">
        <div class="form-group">
            <label for="location">Location Id</label>
            <input  class="form-control"  type ="text" name="locationid" value="{{ locations[i]['id'] }}" readonly>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input  class="form-control" type ="text" name="name" value="{{ locations[i]['name'] }}" >
        </div>
        <div class="form-group">
            <label for="Location Description">Location Description</label>
            <input  class="form-control" type ="text" name="desc" value="{{ locations[i]['desc'] }}">
        </div>
        <div class="form-group">
            <label for="GPS Cords">GPS Cords</label>
            <input  class="form-control" type ="text" name="gpscords" value="{{ locations[i]['gpscords'] }}">
        </div>
        <div class="form-group">
            <label for="Time spent at Location ">Time spent at Location </label>
            <input  class="form-control"  type ="number" name="time" value="{{ locations[i]['time'] }}">
        </div>
        <button class="btn btn-primary" type="submit" value="Edit location">Update Location</button>

    </form>
    <form action="{{ url_for('adminDelLocation') }}" method="post">
        <input type ="text" id="locationsid" name="locationid" value="{{ locations[i]['id'] }}" hidden>
        <button class="btn btn-danger mt-3" type="submit" value="Delete location">Delete Location</button>
    </form>
    </div>
</div>

{%endfor%} 
{% endblock %}

