{% extends 'header.html' %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="container mt-3">
    <h2 class="display-3 text-center" >All users</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Account Id</th>
            <th scope="col">Name</th>
            <th scope="col">Account Status</th>
            <th scope="col">Account Type</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
      {%for i in range(0, len)%}
      <tbody>
        <tr>
          <th scope="row">{{ allusers[i]['accountid'] }}</th>
          <td>{{ allusers[i]['name'] }}</td>
          {%for a in range(0, userlen)%}
            {% if allusers[i]['accountStatus'] == usertypes[a]['accountStatusID'] %}
              <td>{{ usertypes[a]['accountStatusDesc'] }}</td>
            {%endif%}
          {%endfor%}

          {%for a in range(0, accountlen)%}
            {% if allusers[i]['accountTypeID'] == accounttypes[a]['accountTypeID'] %}
              <td>{{ accounttypes[a]['accountTypeDesc'] }}</td>
            {%endif%}
          {%endfor%}
          <td>
            <form action="{{ url_for('adminDeactivateUser') }}" method="post" autocomplete="off">
              <input hidden id="accountid" name="accountid" value="{{ allusers[i]['accountid'] }}" />
              <input type="submit" class="btn btn-danger" value="Deactivate User" />
            </form>
          </td>
        </tr>
      </tbody>
    
    {%endfor%}
    </table>
    </div>
     {% endblock %}