{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}
			<div class="container mt-3" style="width: 500px;">
			<h1 class="display-4 my-3 text-center" >Submit an Issue</h1>
			<form action="{{ url_for('submitissue') }}" method="post">
				<div class="form-group">
				<label for="sID"> Issue</label>
				<input class="form-control mb-3" type="text" name="text" placeholder="Enter the issue you are having" id="text" required>
				</div>
				<button class="btn btn-primary" type="submit" value="post">Submit Issue</button>
			</form>
		</div>
{% endblock %}