{% extends 'header.html' %}
{% block title %}Home{% endblock %}


{% block content %}
			<div class="container mt-3" style="width: 500px;">
			<h1 class="display-4 my-3 text-center" >Submit Update Idea</h1>
			<form action="{{ url_for('submitupdate') }}" method="post">
				<div class="form-group">
				<label for="sID"> Idea</label>
				<input class="form-control mb-3" type="text" name="text" placeholder="Enter update idea" id="text" required>
				</div>
				<button class="btn btn-primary" type="submit" value="post">Submit Idea</button>
			</form>
		</div>
{% endblock %}